---
layout: default
title: "ZX81 hoy"
pagination: 
  enabled: true
---

<div class="home">

  <ul class="post-list index">
    {% for post in paginator.posts %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.img %}      
          <span class="index">   
          <img class="index" src="{{ post.img }}" alt="{{ post.title }}" />
          </span>
          <br class="hide_large"/>
          {% endif %}
          {{ post.title }}
          {% include date_es.html date=post.date short-month='true'%}    
          </a>
      </li>
    {% endfor %}
  </ul>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;Prev</a>
  {% else %}
    <span>&laquo;Prev</span>
  {% endif %}

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      {% if trail.num == paginator.page %}
        <span class="webjeda">{{ trail.num }}</span>
      {% else %}
          <a href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next&raquo;</a>
  {% else %}
    <span>Next&raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
