{% assign dir = include.dir %}
<details {% if dir == "/tag/" %} open{% endif %} >
  <summary>Etiquetas</summary>
  <ul class="post-list post-list-sidebar">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
    {% if tag[0] == "2022" or tag[0] == "2021" or tag[0] == "2023" or tag[0] == "traducciones" or tag[0] == "concurso" or tag[0] == "calendario" or tag[0] == "demo" %}
    <li class="name-sidebar{% if include.title == tag[0] %} mark{% endif %}">
      <a href="/tag/{{ tag[0] }}">{{ tag[0] }} <span>({{ tag[1].size }})</span></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</details>

<details {% if dir == "/author/" %} open{% endif %} >
  <summary>Autores</summary>
  <ul class="post-list post-list-sidebar">
  {% for tag in sorted_tags %}
  {% if tag[0] != "2022" and tag[0] != "2021" and tag[0] != "2023" and tag[0] != "traducciones" and tag[0] != "concurso" and tag[0] != "calendario" and tag[0] != "demo" %}
    <li class="name-sidebar{% if include.title == tag[0] %} mark{% endif %}">
      <a href="/author/{{ tag[0] }}">{{ tag[0] }} <span>({{ tag[1].size }})</span></a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
</details>
