<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-flex">
      <div class="footer-item">
        <ul class="contact-list">
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}"><span class="icon icon--mail">Correo</span></a> (Modifica el enlace)
          </li>
          {% endif %}
        </ul>
      </div>
      
      <div class="footer-item">
        <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
      </div>
    </div>

  </div>

</footer>
