<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><span>{{ site.title }} <span class="subtitle">{{ site.subtitle }}</span></span><img src="{{ site.baseurl }}/assets/sinclair-zx81.png" /></a>

  </div>

</header>
