{% assign posts4Years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for postInYears in posts4Years %}


{% assign pageYear = include.date | date: '%Y' %}
<details {% if pageYear == postInYears.name %} open{% endif %} >
  <summary>{{ postInYears.name }} ({{ postInYears.size }})</summary>

  {% assign posts4Month = postInYears.items | group_by_exp: "items", "items.date | date: '%-b'" %}

  {% for postInMonth in posts4Month %}

  {% assign pageMonth = include.date | date: '%-b' %}
  <details {% if pageMonth == postInMonth.name %} open{% endif %} >
    {% assign monthSP = postInMonth.name %}
    {% case postInMonth.name %}
      {% when "Jan" %}
        {% assign monthSP = 'Ene' %}
      {% when "Apr" %}
        {% assign monthSP = 'Abr' %}
      {% when "Aug" %}
        {% assign monthSP = 'Ago' %}
      {% when "Dec" %}
        {% assign monthSP = 'Dic' %}
    {% endcase %}

    <summary class="month-sidebar" style="">{{ monthSP }} ({{ postInMonth.size }})</summary>
    
    {% assign posts = postInMonth.items %}
    <ul class="post-list post-list-sidebar">
    {% for post in posts %}
        {% assign pageDay = include.date | date: '%-d' %}
        {% assign pageDaySidebar = post.date | date: "%-d" %}
        <li class="name-sidebar{% if pageDay == pageDaySidebar and include.title == post.title %} mark{% endif %}">
          <span>{{ pageDaySidebar }}</span> 
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
    {% endfor %}
    </ul>
  </details>
{% endfor %}

</details>
{% endfor %}
  