/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-width: 200px;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


span.index {
    display: inline-block;
    width: 170px;
    text-align: center;

    @include media-query($on-palm) {
        height: 125px;
        width: 170px;
    }

    @include media-query($on-min) {
        height: 100px;
        width: 170px;
    }
}
    
img.index {
    height: 125px;

    @include media-query($on-palm) {
        height: 125px;
    }

    @include media-query($on-min) {
        height: 100px;
    }
}

br.hide_large {
    display: none;

    @include media-query($on-min) {
        display: block;
    }
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }    
    @include media-query($on-min) {
        padding-right: $spacing-unit / 4;
        padding-left: $spacing-unit / 4;
    }
}

.sidebar {
    min-width: 250px;
    li {
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    summary {
        cursor: pointer;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.pagination {
    text-align: center;
    a {    
        &:hover {
            background-color: #f1f1f1;
            color: #333;
        }
    }
    a, span {
        padding: 8px 18px;
        @include media-query($on-min) {
            padding: 8px 10px;
        }
        @include media-query($on-watch) {
            padding: 8px 6px;
        }
        border: 1px solid #eee;
        margin-left: -2px;
        margin-right: -2px;
        background-color: #ffffff;
        display: inline-block;
    }
 }
  
 .post-list.post-list-sidebar > li {
    margin-bottom: 5px;
}

.page-content {
    min-width: 240px;
}

.emptyList {
    list-style-type: none;
}

.hide {
    display: none;
}

.month-sidebar {
    margin-left: 10px;
}

.name-sidebar {
    margin-left: 20px;
    &.mark {
        font-style: italic;
        font-weight: bolder;    
        text-decoration: underline;
        a {
            color: #3776a9;
        }
    }
}

a.video {
    min-width: 480px;
    min-height: 360px;
        @include media-query($on-palm) {
            min-width: 360px;
            min-height: 270px;
        }
        @include media-query(520px) {
            min-width: 240px;
            min-height: 180px;
        }
    display: block;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: auto, contain;
}