<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="sidebar">
        <span class="name-sidebar{% if page.title == 'About' %} mark{% endif %}">
          <a href="/about">Sobre el blog</a>
        </span>
        {% include sidebar.html date=page.date title=page.title %}
        {% include archive.html dir=page.dir title=page.tag %}
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
