---
layout: default
---
<div class="post">
<h1>Juegos de <b>{{ page.tag }}</b></h1>
<ul class="post-list index">
{% for post in site.tags[page.tag] %}
  <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {% if post.img %}          
          <img class="index" src="{{ post.img }}" alt="{{ post.title }}" />
          <br class="hide_large"/>
          {% endif %}
          {{ post.title }} 
          {% include date_es.html date=post.date short-month='true' %}
          </a>
  </li>
{% endfor %}
</ul>
</div>
