---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% include date_es.html date=page.date %}
    </p>
  </header>

  {% if page.category %}
  <p class="post-cat">
    Autor: <em><b><a href="/author/{{ page.category }}">{{ page.category }}</a></b></em>
  </p>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
  Etiquetas: 
  <span>{% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    {% if tag_name != page.category %}    
    <a href="/tag/{{ tag_name }}">{{ tag_name }}&nbsp;</a>
    {% endif %}
  {% endfor %}</span>
  {% endif %}


</article>